# Patterns to ignore when building packages.
# This supports shell glob matching, relative path matching, and
# negation (prefixed with !). Only one pattern per line.
.DS_Store
# Common VCS dirs
.git/
.gitignore
.bzr/
.bzrignore
.hg/
.hgignore
.svn/
# Common backup files
*.swp
*.bak
*.tmp
*~
# Various IDEs
.project
.idea/
*.tmproj
.vscode/

# templates/ingress.yaml
# templates/jaeger-volume.yaml
# templates/service-headless.yaml
# templates/service.yaml
# templates/serviceaccount.yaml
# templates/statefulset.yaml
